.repair {
    background-image: url(../../../Pictures/img/repair.jpg);
    font-family: "Ridez", Sans-serif;
    font-size: 18px;
    font-weight: 700;
}

/* .h {
    height: 70vh;
} */

.col {
    color: aliceblue;
}



@media only screen and (max-width:576px) {
    .h {
        height: 62vh;
    }
}

@media only screen and (min-width: 577px) and (max-width:992px) {
    .h {
        height: 62vh;
    }
}